@font-face {
  font-family: 'Raleway';
  src: url('/assets/font/Raleway/Raleway-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/font/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-style: italic;
}

@font-face {
  font-family: 'Aurelie';
  src: url('/assets/font/aurelie_smith/Aurelie\ Smith\ Script\ DEMO.otf');
}

body {
  background: linear-gradient(90deg, rgb(20, 107, 0) 0%, rgb(50, 175, 0) 100%);
}

body.noScroll {
  overflow-y: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 70px;
  text-transform: uppercase;
}

header .title {
  color: #FFF;
  font-size: 2em;
  text-align: center;
  font-family: 'Aurelie';
  font-weight: 1000;
  cursor: default;
  user-select: none;
}

header .menu {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  color: #FFF;
  transition: all .3s ;
}

header .menu.show {
  right: 0 !important;
}

header .icon-menu {
  display: none;
  font-size: 2em;
  color: #FFF;
}

header .menu a {
  text-decoration: none;
  color: #FFF;
  padding: 10px 18px;
  margin: 0 0 0 10px;
  transition: all .2s;
  cursor: pointer;
}

header .menu a.cerrar-menu {
  background: rgb(150, 0, 0);
  display: none;
}

header .menu a:hover {
  background: rgba(0, 0, 0, 0.281);
}

header .menu a.login {
  background: rgba(255, 255, 255, 0.281);
}

body>.body {
  min-height: calc(100vh - 180px);
  background: #eee;
}


footer {
  color: #FFF;
  min-height: 80px;
}

footer .body-footer {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .body-footer>div {
  width: 50%;
  padding: 10px;
  text-align: center;
}

footer .body-footer .info {
  text-align: center;
}

footer .body-footer .info ul {
  list-style: none;
}

footer .body-footer .info ul a {
  color: #FFF;
  display: block;
}

footer .info-footer {
  background: rgba(0, 0, 0, 0.308);
  text-align: center;
  font-weight: 600;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen-login {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  top: 0;
}

.screen-login.showLogin {
  display: flex !important;
}

.screen-login .container-login {
  width: 300px;
  height: 450px;
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.308);
  position: absolute;
  overflow: hidden;
}

.screen-login .container-login .btn-cerrar {
  position: absolute;
  right: 0px;
  z-index: 1;
  width: 40px;
  height: 40px;
  background: rgb(163, 32, 32);
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

.screen-login .container-login .btn-cerrar:hover {
  background: rgb(109, 22, 22);
}

.screen-login .container-login .form-container {
  width: 600px;
  height: 450px;
  position: absolute;
  display: flex;
  transition: all .3s;
  left: 0px;
}

.screen-login .container-login .form-container.show {
  left: -300px !important;
}

.screen-login .container-login .login-form,
.screen-login .container-login .register-form {
  width: 300px;
  height: 450px;  
}

.screen-login .login-form .header,
.screen-login .register-form .header {
  height: 40px;
  background: linear-gradient(90deg, rgb(20, 107, 0) 0%, rgb(50, 175, 0) 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: 'Raleway';
  font-weight: 300;
  cursor: default;
  user-select: none;
}


.screen-login .register-form .header {
  background: linear-gradient(270deg, rgb(20, 107, 0) 0%, rgb(50, 175, 0) 100%);
}

.screen-login .body .logo-text {
  font-family: 'Aurelie';
  font-size: 4em;
  text-align: center;
  user-select: none;
}

.screen-login .register-form .body label {
  font-family: 'Raleway';
  font-size: .7em;
  font-weight: 700;
  display: flex;
  cursor: pointer;
}

.register-form input[name='repass'].error{
  box-shadow: 0 0 4px red;
  border: 1px solid red;
  background: rgb(255, 229, 229);
}

.screen-login .register-form .body label>input {
  margin-right: 10px;
}

@media (max-width: 767px) {
  header .menu {
    position: fixed;
    right: -100%;
    top: 0px;
    display: block;
    background: rgb(20, 107, 0);
    height: 100vh;
    width: 100vw;
  }

  header .menu > li > a {
    display: block;
    margin: 0;
    text-align: center;
  }

  header .menu a.cerrar-menu {
    background: rgb(150, 0, 0);
    display: block;
  }

  header .icon-menu {
    display: block;
  }
  

}