.body {
    scroll-snap-type: both mandatory;
}

.body .publicacion {
    font-family: 'Raleway';
}

.body .publicacion .imagen img {
    width: 100%;
}

.body .publicacion .titulo {
    font-weight: 600;
    font-size: 2em;
}

.body .publicacion .galeria-imagenes {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    transition: all .3s;
    scroll-behavior: smooth;
}

.body .publicacion .galeria-imagenes::-webkit-scrollbar {
    display: none;
}

.body .publicacion .galeria-imagenes>.contenido-img {
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body .publicacion .contenedor-galeria-imagenes {
    position: relative;
    display: flex;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.body .publicacion .contenedor-galeria-imagenes>.btn-left,
.body .publicacion .contenedor-galeria-imagenes>.btn-rigth {
    position: absolute;
    width: 100px;
    height: 100%;
    color: #FFF;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.body .publicacion .contenedor-galeria-imagenes>.btn-left:hover,
.body .publicacion .contenedor-galeria-imagenes>.btn-rigth:hover {
    background: rgba(0, 0, 0, 0.418);
}

.body .publicacion .contenedor-galeria-imagenes>.btn-left {
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 6%, rgba(0, 0, 0, 0) 100%);
}

.body .publicacion .contenedor-galeria-imagenes>.btn-left:hover {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 6%, rgba(0, 0, 0, 0) 100%);
}

.body .publicacion .contenedor-galeria-imagenes>.btn-rigth {
    top: 0;
    right: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 6%, rgba(0, 0, 0, .5) 100%);
}

.body .publicacion .contenedor-galeria-imagenes>.btn-rigth:hover {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 6%, rgba(0, 0, 0, .8) 100%);
}

.body .publicacion .galeria-imagenes .item-imagen {
    background: rgb(201, 201, 201);
    width: 180px;
    height: 180px;
    margin: 0 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.418);
    user-select: none;
}

.body .publicacion .galeria-imagenes .item-imagen img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    object-fit: cover;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

.body .comentarios .comentar{
    display: flex;
}

.body .comentarios .comentar .formulario {
    width: 100%;
}

.body .comentarios .comentar .formulario .mensaje {
    background: #cfcfcf;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-height: 40px;
    border-radius: 3px;
    transition: all .2s;
    width: 100%;
}

.body .comentarios .comentar .formulario .mensaje:focus,
.body .comentarios .comentar .formulario .mensaje:not(:empty) {
    border: none;
    outline: none;
    /* background: #b6b6b6; */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.418);
    transform: scale(1.025);
    z-index: 100;
}

.body .comentarios {
    padding-bottom: 50px;
}

.body .comentarios .comentar .usuario {
    width: 50px;
    height: 44px;
    background: rgb(131, 131, 131);
    margin-right: 10px;
    overflow: hidden;
    border-radius: 3px;
}

.body .comentarios .comentar .usuario img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ########################################### */

.body .comentarios .lista-comentarios {
    min-height: 100px;
}

.body .comentarios .lista-comentarios .comentario {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.body .comentarios .lista-comentarios .comentario .foto {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 10px;
}

.body .comentarios .lista-comentarios .comentario .foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body .comentarios .lista-comentarios .comentario .texto {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
}

.body .comentarios .lista-comentarios .comentario .texto .nombre {
    font-weight: 600;
}

.body .comentarios .lista-comentarios .comentario .texto .botonera {
    display: flex;
    align-items: center;    
}

.body .comentarios .lista-comentarios .comentario .texto .botonera > div {
    display: flex;
}

.body .comentarios .lista-comentarios .comentario .texto .botonera > div .btn-like {
    background: rgba(0, 0, 0, 0.5);
    width: 1.4em;
    height: 1.4em;
    font-size: 1.2em;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    padding: 6px;
}

.body .comentarios .lista-comentarios .comentario .texto .botonera > div .btn-like.check {
    background: rgba(8, 168, 56, 0.582);
}

.body .comentarios .lista-comentarios .comentario .texto .botonera > div .btn-dislike {
    background: rgba(0, 0, 0, 0.5);
    width: 1.4em;
    height: 1.4em;
    font-size: 1.2em;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    padding: 6px;
}

.body .comentarios .lista-comentarios .comentario .texto .botonera > div .btn-dislike.check {
    background: rgba(182, 9, 9, 0.582);
}

.separador {
    width: 10px;
    height: 3px;
    border: none;
    background: rgb(0, 92, 31);
    padding: 0px;
    margin: 0 16px;
}







[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    color: #000;
    font-weight: 200;
    user-select: none;
    cursor: text;
}